################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Module_cardio_conversion_fixe/Debug/*
/Module_cardio_conversion_fixe/Debug
/Module_cardio_conversion_fixe/__vm
/Tous les programs/.vs/*
