################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Debug
/M1/Debug
/M1/__vm
/M2/Debug
/M2/__vm
/M2 Generation param.h/Debug
/M4/Debug
/M4/x64/Debug
/M4 not finished/Debug
/x64/Debug
